.section {
  &__feature {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }

  &__container {
    display: inline;
    padding-top: vertical(1);
    padding-bottom: vertical(1);
  }

  &__series {
    font-size: 20px;
    font-weight: 200;
    //color: $brightness-7;
    padding-left: horizotal(0.5);
  }
}

.headline--feature {
  font-weight: 900;
  padding-bottom: vertical(4);
}

.standfirst--feature {
  padding-bottom: 0;

  p {
    padding: 0;
  }
}

.byline--feature {
  font-family: $egyptian-display;
  font-weight: 200;
  font-style: italic;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: vertical(3);
  padding-right: horizotal(1);
  color: $brightness-7;
}

.byline--feature::before {
  display: block;
  content: '';
  width: horizotal(4);
  border-top: 0.0625rem solid $brightness-86;
  margin-top: vertical(1);
}

.byline--feature .byline__author {
  font-style: normal;
  font-weight: 600;
  color: $brightness-7;
  font-size: 22px;
  line-height: 26px;
}

.picture {
  &__caption-container--simple {
    position: relative;
    width: $width-content-portrait;
    z-index: 1000;
  }

  &__caption--simple {
    font-family: $egyptian-display;
    font-size: 18px;
    line-height: 22px;
    display: inline;

    p:first-child:first-letter {
      padding-left: horizotal(3);
    }

    &--credit {
      font-weight: bold;
    }

    &--second {
      font-family: $guardian-sans;
      color: $brightness-46;
      font-size: 14px;

      p {
        padding-left: 0;
        padding-bottom: vertical(2);
      }
    }
  }
}

.arrow-up-small {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  float: left;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: 9px;
}

.review--stars-1 {
  position: absolute;
  z-index: 1000;
  background: url("stars/1-stars.svg");
  width: 171px;
  height: 40px;
  //margin-top: 11px;
}

.review--stars-2 {
  position: absolute;
  z-index: 1000;
  background: url("stars/2-stars.svg");
  width: 171px;
  height: 40px;
  //margin-top: 11px;
}

.review--stars-3 {
  position: absolute;
  z-index: 1000;
  background: url("stars/3-stars.svg");
  width: 171px;
  height: 40px;
  //margin-top: 11px;
}

.review--stars-4 {
  position: absolute;
  z-index: 1000;
  background: url("stars/4-stars.svg");
  width: 171px;
  height: 40px;
  //margin-top: 11px;
}

.review--stars-5 {
  position: absolute;
  z-index: 1000;
  background: url("stars/5-stars.svg");
  width: 171px;
  height: 40px;
  //margin-top: 11px;
}
/////Review star when no pic is showing /////////
.review--stars-nopic-1 {
  position: relative;
  z-index: 1000;
  background: url("stars/1-stars.svg");
  width: 171px;
  height: 40px;
  margin-bottom: vertical(4);
}

.review--stars-nopic-2 {
  position: relative;
  z-index: 1000;
  background: url("stars/2-stars.svg");
  width: 171px;
  height: 40px;
  margin-bottom: vertical(4);
}

.review--stars-nopic-3 {
  position: relative;
  z-index: 1000;
  background: url("stars/3-stars.svg");
  width: 171px;
  height: 40px;
  margin-bottom: vertical(4);
}

.review--stars-nopic-4 {
  position: relative;
  z-index: 1000;
  background: url("stars/4-stars.svg");
  width: 171px;
  height: 40px;
  margin-bottom: vertical(4);
}

.review--stars-nopic-5 {
  position: relative;
  z-index: 1000;
  background: url("stars/5-stars.svg");
  width: 171px;
  height: 40px;
  margin-bottom: vertical(4);
}
//a convoluted but the only way we could hint to target the first letter in this way because the system needed something much more specific
// then the ususal p:first-of-type:first-letter in order to not give a dropcaup to every p tag
//these combinations cover all the options within 'feature'

.standfirst + .byline--feature + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
  font-family: $egyptian-display;
  font-size: 86px;
  text-transform: uppercase;
  line-height: 67px;
  font-weight: lighter;
  padding-right: horizotal(1);
  float: left;
  font-weight: bold;
}

.standfirst + .byline--feature + .guardian-body-text--caps > p:first-of-type:first-letter {
  font-family: $egyptian-display;
  font-size: 86px;
  text-transform: uppercase;
  line-height: 67px;
  font-weight: lighter;
  padding-right: horizotal(1);
  float: left;
  font-weight: bold;
}

.standfirst + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
  font-family: $egyptian-display;
  font-size: 86px;
  text-transform: uppercase;
  line-height: 67px;
  font-weight: lighter;
  padding-right: horizotal(1);
  float: left;
  font-weight: bold;
}
