.section {
  &__feature {
    border-bottom: 1px solid $brightness-86;
    width: $width-content;
    padding-bottom: vertical(1);
  }

  &__container {
    display: inline;
    color: white;
    padding-top: vertical(1);
    padding-bottom: vertical(1);
    padding-right: horizotal(2);
    padding-left: horizotal(2);
  }

  &__series {
    font-weight: 300;
    color: #121212;
    font-style: italic;
    padding-left: horizotal(1);
  }
}

.headline--feature {
  font-weight: 900;
  padding-bottom: vertical(5);
}

.standfirst--feature {
  p {
    padding: 0;
  }
  padding-bottom: 0;
}

.byline--feature {
  font-family: $egyptian-text;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-top: vertical(1);
  margin-bottom: vertical(4);
}

.picture {
  &__caption-container--simple {
    position: relative;
    width: $width-content;
    z-index: 1000;
  }

  &__caption--simple {
    font-family: $egyptian-text;
    font-size: 18px;
    line-height: 22px;
    display: inline;

    p:first-child:first-letter {
      padding-left: horizotal(3);
    }

    &--credit {
      font-weight: bold;
    }

    &--second {
      font-family: $agate-sans;
      color: $brightness-46;
      font-size: 14px;

      p {
        padding-left: 0;
        padding-bottom: vertical(2);
      }
    }
  }
}

.arrow-up-small {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  float: left;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: vertical(2);
}

.review--stars-1 {
    position: absolute;
    z-index: 1000;
    background: url(stars/1-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-2 {
    position: absolute;
    z-index: 1000;
    background: url(stars/2-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-3 {
    position: absolute;
    z-index: 1000;
    background: url(stars/3-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-4 {
    position: absolute;
    z-index: 1000;
    background: url(stars/4-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-5 {
    position: absolute;
    z-index: 1000;
    background: url(stars/5-stars.svg);
    width: 171px;
    height: 40px;
}


//a convoluted but the only way we could fint to target the first letter in this way because the system needed something much more specific
// then the ususal p:first-of-type:first-letter in order to not give a dropcaup to every p tag
//these combinations cover all the options within 'feature'
.standfirst + .byline--feature + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $egyptian-display;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: lighter;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}

.standfirst + .byline--feature + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $egyptian-display;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: lighter;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}

.standfirst + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $egyptian-display;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 64px;
    font-weight: lighter;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}
