.picture--fullscreen {
  margin-bottom: 0;
  position: relative;
  img {
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.immersive-container {
  background-image: url(assets/immersive-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.content--immersive {
  position: relative;
  width: $width-content;
  @media (orientation: landscape) {
    top: 70vh;
    padding-left: -17px;
  }
  @media (orientation: portrait) {
    top: 40vh;
  }
}

.immersive-main {
  @media (orientation: landscape) {
    border-right: 1px solid $brightness-60;
  }
  @media (orientation: portrait) {
    margin-left: 20px;
    padding-top: 6px;
    border-right: 1px solid $brightness-60;
    }
}

.section__immersive {
  .section__container {
    background-color: $news-main;
    color: white;
    padding: 0px 10px 0px 20px;
  }
}

.headline--immersive {
  background-color: $brightness-7;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
}

.picture--immersive {
  img {
    margin: 0;
    padding: 0;
    display: block;
    width: $width-content;
  }
  @media (orientation: portrait) {
  img {
    margin: 0;
    padding: 0;
    display: block;
    width: 600px;
  }
  }
}
