.picture--fullscreen {
  margin-bottom: 0;
  position: relative;
  img {
    background-repeat: no-repeat;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: block;
  }
}

.immersive-container {
  background-image: url(assets/immersive-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.content--immersive {
  position: relative;
  width: $width-content;
  @media (orientation: landscape) {
    top: 70vh;
    padding-left: horizotal(12.8);
  }
  @media (orientation: portrait) {
    top: 40vh;
  }
}

.immersive-main {
  @media (orientation: landscape) {
    border-right: 1px solid $brightness-60;
  }
  @media (orientation: portrait) {
    margin-left: horizotal(2);
    padding-top: vertical(1);
    border-right: 1px solid $brightness-60;
    }
}

.section__immersive {
  .section__container {
    color: white;
    padding: 0px horizotal(1) 0px horizotal(2);
  }
}

.headline--immersive {
  background-color: $brightness-7;
  padding-left: horizotal(2);
  padding-right: horizotal(2);
  color: white;
  font-weight: bold;
}

.picture--immersive {
  img {
    margin: 0;
    padding: 0;
    display: block;
    width: $width-content;
  }
  @media (orientation: portrait) {
  img {
    margin: 0;
    padding: 0;
    display: block;
    width: horizotal(60);
  }
  }
}
