.header--interview {
  position: absolute;
  z-index: 100;
  width: $width-content;
}

.picture--interview {
  top: 117px;
}

.section__container--interview {
  color: $brightness-100;
  //position: relative;
  padding: vertical(1.2) vertical(1.2) 9px;
}

.interview-main {
  margin-top: 127px;

  .guardian-body-text {
    padding-top: 0;
  }

  .guardian-body-text--caps {
    padding-top: 0;
  }
}

.standfirst--interview {
  margin-top: vertical(3);
  margin-bottom: vertical(3);
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  padding-bottom: 0;

  a {
    line-height: 26px;
  }
}

.headline--interview {
  font-size: 44px;
  line-height: 47px;
  position: relative;
  font-weight: 600;
  margin-top: vertical(0.1);
  margin-left: horizotal(0.5);
  padding-bottom: 0;
  font-size: 34px;
  width: $width-content-portrait;

  span {
    color: white;
    background: $brightness-7;
    box-shadow: 5px 0 0 $brightness-7, -5px 0 0 $brightness-7;
    padding-bottom: horizotal(0.5);
  }
}

.byline--interview {
  position: relative;
  font-family: $egyptian-text;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  margin-top: 9px;
  margin-left: horizotal(0.5);

  span {
    background: $highlight-main;
    box-shadow: 5px 0 0 $highlight-main, -5px 0 0 $highlight-main;
    padding: 6px 0;
  }

  .byline__author {
    font-style: italic;
    font-weight: 200;
    font-size: 22px;
    line-height: 28px;
  }
}

.byline--interview .byline__author {
  font-style: italic;
  font-weight: 200;
  color: $brightness-7;
}

.standfirst--interview + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
  font-family: $egyptian-display;
  font-size: 84px;
  text-transform: uppercase;
  line-height: 68px;
  font-weight: lighter;
  padding-right: horizotal(1);
  float: left;
  font-weight: bold;
}
