.header--interview {
    position: absolute;
    z-index: 100;
    width: $width-content;
}

.interview-main {
  margin-top: 117px;
}


.section__container--interview {
  color: $brightness-100;
  padding-bottom: 9px;
  font-weight: 600;
  letter-spacing: 0.8;
}

.standfirst--interview {
  margin-top: vertical(3);
  margin-bottom: vertical(3);
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  padding-bottom: 0;

  a {
      line-height: 26px;
  }
}

.headline--interview {
  font-size: 34px;
  line-height: 41px;
  position: relative;
  font-weight: 600;
  margin-top: vertical(0.1);
  margin-left: horizotal(0.5);
  padding-bottom: 0;
  width: $width-content-portrait;
  span {
    color: white;
    background: $brightness-7;
    box-shadow:5px 0 0 $brightness-7, -5px 0 0 $brightness-7;
    padding-bottom: horizotal(0.7);
  }
}

.byline--interview {
  position: relative;
  font-family: $egyptian-text;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  margin-top: 12px;
  margin-left: horizotal(0.5);
  span {
    background:$obs-lifestyle-main;
    box-shadow:5px 0 0 $obs-lifestyle-main, -5px 0 0 $obs-lifestyle-main;
    padding: 6px 0;
  }
}

.byline--interview .byline__author {
  color: $brightness-7;
}

.picture--interview {
    top: 107px;
}

.standfirst--interview + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $sole-display;
    font-size: 92px;
    text-transform: uppercase;
    line-height: 70px;
    font-weight: lighter;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}
