// .cartoon-bg {
//   background-color: $brightness-7;
// }

.content--cartoon .section {
  &__series {
    color: $brightness-93;
  }
}

.Article__pillar--cartoon .section__container {
  letter-spacing: 0.5px;
}

.headline {
  &--cartoon {
    color: white;
  }
}
//.Article__pillar--cartoon .content {
//  border-right: 1px solid $brightness-46;
//}

.content {
  &--cartoon {
    //width: $width-content-portrait;
    border-right: 1px solid $brightness-46;
    margin-top: 8px;
    padding-top: 0;
    @media (orientation: landscape) {
      height: 100%;
      width: $width-content;
    }
    @media (orientation: portrait) {
      height: 100vh;
    }
  }
}
//.multiline--cartoon {
//  margin-bottom: vertical(5);
//}
//.picture__caption--cartoon {
//  color: $brightness-86;
//  margin-bottom: vertical(3);
//}
//.picture__caption--cartoon .picture__caption--credit {
//    font-weight: 400;
//    margin-left: -6px;
//}
