.section {
  &__series {
    font-size: 20px;
    font-weight: 200;
    padding-left: horizotal(0.5);
  }
}

.headline--feature {
  font-weight: 900;
  padding-bottom: vertical(4);
}

.byline--feature {
  font-family: $sole-display;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  margin-top: vertical(0.3);
  //margin-bottom: vertical(1);
}

.byline--feature .byline__author {
    font-style: normal;
    font-weight: 900;
    color: $brightness-7;
  }

.picture {
  &__caption-container--simple {
    position: relative;
    width: $width-content-portrait;
    z-index: 1000;
  }

  &__caption--simple {
    font-family: $sole-display;
    font-size: 18px;
    line-height: 22px;
    display: inline;

    p:first-child:first-letter {
      padding-left: horizotal(3);
    }

    &--credit {
      font-weight: bold;
    }

    &--second {
      font-family: $guardian-sans;
      color: $brightness-46;
      font-size: 14px;

      p {
        padding-left: 0;
        padding-bottom: vertical(2);
      }
    }
  }
}

.arrow-up-small {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  float: left;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: 9px;
}

.review--stars-1 {
    position: absolute;
    z-index: 1000;
    background: url(stars/1-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-2 {
    position: absolute;
    z-index: 1000;
    background: url(stars/2-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-3 {
    position: absolute;
    z-index: 1000;
    background: url(stars/3-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-4 {
    position: absolute;
    z-index: 1000;
    background: url(stars/4-stars.svg);
    width: 171px;
    height: 40px;
}
.review--stars-5 {
    position: absolute;
    z-index: 1000;
    background: url(stars/5-stars.svg);
    width: 171px;
    height: 40px;
}


//a convoluted but the only way we could hint to target the first letter in this way because the system needed something much more specific
// then the ususal p:first-of-type:first-letter in order to not give a dropcaup to every p tag
//these combinations cover all the options within 'feature'
.standfirst + .byline--feature + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $sole-display;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 70px;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}

.standfirst + .byline--feature + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $sole-display;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 70px;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}

.standfirst + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
    font-family: $sole-display;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 70px;
    padding-right: horizotal(1);
    float: left;
    font-weight: bold;
}
