@import "base/reset";
@import "base/colour";
@import "base/unit";
@import "base/typography";
@import "base/rules";
@import "base/vars";
@import "base/pillars";
@include fontList(ios);
/* common css to standard article*/
///////////////////////////////////////////////////

body {
  background-color: white;
  color: $brightness-7;
}

p {
  padding-top: vertical(1);
  padding-bottom: vertical(1);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* wrapper for left content */
.content {
  width: $width-content-portrait;
  padding-left: horizotal(2);
  padding-top: horizotal(1);
  padding-bottom: horizotal(1);
  border-right: 1px solid $brightness-60;

  @media (orientation: landscape) {
    padding-left: 128px;
    width: $width-content;
  }
}
/* section */
.section {
  font-size: 22px;
  font-weight: 700;
  font-family: $egyptian-display;
  margin-top: -8px;

  &--news {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
  &--sport {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
  &--arts {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
  &--opinion {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
  &--lifestyle {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
  &--cartoon {
    border-bottom: 1px solid $brightness-60;
    padding-bottom: vertical(1);
  }
}

/* headline */
.headline {
  font-family: $egyptian-display;
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
  color: $brightness-7;
  padding-bottom: vertical(6);
  padding-right: horizotal(2);
}

.standfirst {
  font-family: $egyptian-display;
  font-size: 20px;
  line-height: 24px;
  color: $brightness-7;
  clear: both;
  padding-bottom: vertical(3);
  padding-right: horizotal(2);

  p {
      padding: 0;
  }

  ul {
    list-style-type: none;
    margin-top: vertical(0.5);
  }

  li::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: vertical(3.2);
    border-radius: vertical(3.2);
    height: vertical(2.6);
    width: vertical(2.6);
    margin-right: vertical(1);
  }

  a {
    text-decoration: none;
    border-bottom: 0.0625rem solid $brightness-86 !important;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 0.0625rem solid !important;
  }
}

.guardian-body-text {
  font-family: $egyptian-text;
  font-size: 17px;
  line-height: 24px;
  margin-right: horizotal(1);
  padding-top: vertical(2);
  clear: both;

  p {
    padding-bottom: vertical(3);
    padding-top: 0;
  }

  h2 {
    font-family: $egyptian-display;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-right: horizotal(1);
  }

  h2 strong {
    font-family: $egyptian-display;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-right: horizotal(1);
  }

  ul {
    list-style-type: none;
    margin-top: vertical(0.5);
  }

  li p::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: vertical(3.2);
    border-radius: 20px;
    height: 16px;
    width: 16px;
    margin-right: vertical(1);
  }

  a {
    text-decoration: none;
    border-bottom: 0.0625rem solid $brightness-86 !important;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 0.0625rem solid !important;
  }
}

.guardian-body-text--caps {
  font-family: $egyptian-text;
  font-size: 17px;
  line-height: 24px;
  padding-top: vertical(2);
  clear: both;

  p {
    padding-bottom: vertical(3);
    padding-top: 0;
    padding-right: horizotal(1);
  }

  h2 {
    font-family: $egyptian-display;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-right: horizotal(1);
  }

  h2 strong {
    font-family: $egyptian-display;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  ul {
    list-style-type: none;
    margin-top: vertical(0.5);
  }

  li p::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: vertical(3.2);
    border-radius: vertical(3.2);
    height: vertical(2.6);
    width: vertical(2.6);
    margin-right: vertical(1);
  }

  a {
    text-decoration: none;
    border-bottom: 0.0625rem solid $brightness-86 !important;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 0.0625rem solid !important;
  }
}

.immersive-main .guardian-body-text--caps {
  ul {
    display: none;
  }
}


/* bullet points ////////////////////////////*/
.text-bullet {
  display: inline-block;
  content: '';
  -webkit-border-radius: vertical(3.2);
  border-radius: vertical(3.2);
  height: vertical(2.6);
  width: vertical(2.6);
  margin-right: vertical(1);
}

/* byline */
/////////////////////////////////////////

.byline {
  font-family: $egyptian-display;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  width: 35%;
  margin-right: horizotal(2);
  margin-bottom: horizotal(2);
  margin-top: horizotal(0.5);
  clear: both;
  font-style: italic;
  font-weight: 100;
  color: $brightness-7;

  &__author {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }
}
/* images */
/////////////////////////////////////////

.picture {
  //margin-bottom: vertical(1);
  position: relative;
  line-height: 18px;

  &--first img {
    width: $width-content-portrait;
    margin: 0;
    padding: 0;
    display: block;

    @media (orientation: landscape) {
        width: $width-content;
    }
  }

  &--second img {
    width: $width-content-portrait;
    margin: 0;
    padding: 0;
    display: block;
    padding-top: vertical(1);

    @media (orientation: landscape) {
        width: $width-content;
    }
  }

  &--thumbnail img {
    max-width: 140px;
    margin: 0;
    padding: 0;
    display: inline;

    @media (orientation: landscape) {
        width: 140px;
    }
  }

  &--thumbnail {
    max-width: 140px;
    float: left;
    padding-top: vertical(2);
    padding-right: horizotal(2);
  }

  @media (orientation: landscape) {
    &--wide img {
      width: 86vw;
      margin: 0;
      padding: 0;
      display: block;
     }
    }

  @media (orientation: portrait) {
    &--wide img {
      width: 96vw;
      margin: 0;
      padding: 0;
      display: block;
     }
    }


  &__caption-container {
    position: relative;
    width: $width-content-portrait;
    z-index: 1000;
    color: white;

    @media(orientation: landscape) {
        width: $width-content;
    }
  }

  &__caption {
    font-family: $egyptian-display;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    display: inline;
    letter-spacing: 0.5;

    p {
      padding-top: vertical(0.5);
      padding-left: horizotal(1);
      padding-right: horizotal(1);
    }

    a {
      color: white;
      text-decoration: none;
      border-bottom: 0.0625rem solid rgba(255,255,255,0.6) !important;
    }

    &--credit {
      font-size: 12px;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 0.7;
    }

    &--second {
      font-family: $egyptian-display;
      font-style: italic;
      color: $brightness-46 !important;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.5px;

      p {
        padding-left: 0;
        padding-bottom: vertical(2);
      }

      a {
        color: $brightness-46 !important;
        text-decoration: none;
        border-bottom: 0.0625rem solid $brightness-46 !important;
      }

      p::before {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 12px solid $brightness-46;
        margin-right: horizotal(0.5);
      }
    }
  }
}

//.video--first {
//  background: $brightness-7;
//  padding-left: horizotal(2.3);
//  margin-top: vertical(2);
//}

///Sak's code change ///
.video--first {
  //background: $brightness-7;
  padding-left: 23px;
  margin-bottom: -12px;
  margin-top: 12px;
}

// caption arrow //////////////////////

.arrow-up {
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  float: left;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: -14px;
  left: 6px;
}

// twitter ///////////////////////////
.twitter-tweet {
  font-family: $guardian-sans;
  font-weight: 600;
  font-size:16px;
  padding: vertical(1) horizotal(1.5) vertical(2) horizotal(5);
  border: 1px solid $brightness-86;
  margin-top: vertical(1);
  margin-bottom: vertical(5);
  background: url(twitter/twitter_logo_blue.svg);
  background-repeat:no-repeat;
  background-position: vertical(0.2) vertical(0);
  background-size: 36px;
  width: 440px;

  @media(orientation: landscape) {
      width: 520px;
  }

  p {
    font-weight: 400;
    padding-bottom: vertical(1);
  }

  a {
    font-weight: 400;
  }
}
