@import "base/reset";
@import "base/colour";
@import "base/unit";
@import "base/typography";
@import "base/rules";
@import "base/vars";
@import "base/pillars";
@include fontList(ios);
/* common css to standard article*/
///////////////////////////////////////////////////

body {
  /* -webkit-font-smoothing: antialiased;*/
  background-color: white;
  color: $brightness-7;
}

p {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* wrapper for left content */
.content {
  width: $width-content;
  padding-left: 20px;
  padding-top: 20px;
  border-right: 1px solid $brightness-60;
  @media (orientation: landscape) {
    padding-left: 128px;
  }
}
/* section */
.section {
  font-size: 22px;
  font-weight: 800;
  font-family: $egyptian-display;
}

/* headline */
.headline {
  font-family: $egyptian-display;
  font-size: 44px;
  line-height: 46px;
  color: $brightness-7;
  padding-bottom: 50px;
}

.standfirst {
  font-family: $egyptian-display;
  font-size: 22px;
  line-height: 28px;
  color: $brightness-7;
  clear: both;
  padding-bottom: 20px;
}

.guardian-body-text {
  font-family: $egyptian-text;
  font-size: 18px;
  line-height: 22px;
  margin-right: 48px;
  margin-top: 6px;
  clear: both;

  p {
    padding-bottom: 22px;
    padding-top: 0;
  }
}

/* byline */
/////////////////////////////////////////

.byline {
  font-family: $egyptian-text;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 22px;
  width: 35%;
  margin-right: 16px;
  margin-bottom: 16px;
  clear: both;
  font-style: italic;

  &__author {
    font-style: normal;
  }
  //
  // &__location {
  //   font-style: italic;
  // }
}
/* images */
/////////////////////////////////////////

.picture {
  margin-bottom: 6px;
  position: relative;

  &--first img {
    width: $width-content;
    margin: 0;
    padding: 0;
    display: block;
  }

  &--second img {
    width: $width-content;
    margin: 0;
    padding: 0;
    display: block;
  }

  @media (orientation: landscape) {
    &--wide img {
      width: 86vw;
      margin: 0;
      padding: 0;
      display: block;
     }
    }

  @media (orientation: portrait) {
    &--wide img {
      width: 96vw;
      margin: 0;
      padding: 0;
      display: block;
     }
    }


  &__caption-container {
    position: relative;
    width: $width-content;
    z-index: 1000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__caption {
    font-family: $egyptian-text;
    font-size: 16px;
    line-height: 20px;
    display: inline;

    p {
      padding-left: 8px;
    }

    &--credit {
      font-weight: bold;
    }

    &--second {

      font-family: $agate-sans;
      color: $brightness-46 !important;
      font-size: 14px;

      p {
        padding-left: 0;
        padding-bottom: 10px;
      }
    }
  }
}

// caption arrow

.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid $brightness-46;
  float: left;
  margin: 0;
  z-index: 1000;
  position: absolute;
  top: -25px;
}

.guardian-body-text--caps {
  font-family: $egyptian-text;
  font-size: 18px;
  line-height: 22px;
  margin-right: 48px;
  clear: both;
  p {
    padding-bottom: 22px;
    padding-top: 0;
  }
}
