<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>immersive</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="_Static/Content/_css/DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  {{insertCSSLink sectioncss}}
  {{insertCSSLink typecss}}
  {{insertCSSLink pillarcss}}
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    {{#each story}}
      {{#if_eq type 'image'}}
        {{#isMainImage ../story @index}}
        <div class="Article {{insertPillarColourClass 'Article__pillar--' pillarid}}">
        <div class="picture--fullscreen">
               {{{html}}}
       </div>
       {{/isMainImage}}
       {{/if_eq}}
    {{/each}}

      <div class="content--immersive">
        {{#each story}}
          {{#if_eq type 'label'}}
          <div class="section section__immersive">
            <div class="section__container">
              {{{text}}}
            </div>
          </div>
          {{/if_eq}}

          {{#if_eq type 'headline'}}
          <div class="headline headline--immersive">
              {{{text}}}
          </div>
          {{/if_eq}}

          {{#if_eq type 'standfirst'}}
            <div class="standfirst standfirst--feature">
                  {{{text}}}
            </div>
          {{/if_eq}}

          {{#if_eq type 'byline'}}
          <div class="byline--feature">
              {{{text}}}
          </div>
          {{/if_eq}}

        {{/each}}

          <div class="guardian-body-text--caps bold-caps">
            <div class="multiline {{insertPillarColourClass 'multiline--' pillarid}}"></div>
            {{insertCrossRef 'body'}} {{#each story}}
            {{#if_eq type 'other'}} {{{text}}} {{/if_eq}} {{#if_eq type 'bodytext'}} {{{text}}} {{/if_eq}}
            {{#if_eq type 'image'}}
            {{#isInlineImage ../story @index}}
            {{#isAfterNthOfType 'image' ../story @index 2}}
            <div class="picture">
                <div class="picture--second">
                    {{{html}}}
                </div>
                <div class="picture__caption picture__caption--second">
                    <p>{{{productioncaption}}} {{{productioncopyright}}}</p>
                </div>
            </div>
            {{/isAfterNthOfType}}
            {{#isNthOfType 'image' ../story @index 2}}
            <div class="picture">
              <div class="picture--wide">
                {{{html}}}
              </div>
              <div class="picture__caption-container--simple">
                <div class="picture__caption picture__caption--second">
                  <p>{{{productioncaption}}} {{{productioncopyright}}}</p>
                </div>
              </div>
            </div>
            {{/isNthOfType}}
            {{/isInlineImage}}
            {{/if_eq}}
            {{/each}}

        </div>

      </div>
      <!-- content -->
    </div>
    <!-- Article -->
  </div>
  <!-- luther-document -->
</body>

</html>
