// Guardian - body text, byline

$ipd-serif-text: WT1 Web Text;

// Guardian - headline, labels

$ipd-serif-headline-black: DE7 Display Egyptian Black;

$ipd-serif-headline-bold:DE6 Display Egyptian Bold;

$ipd-serif-headline-semibold: DE5 Display Egyptian SemiBold;

$ipd-serif-headline-reg: DE3 Display Egyptian;

$ipd-serif-headline-light: DE2 Display Egyptian Light;

$ipd-serif-headline-thin: DE1 Display Egyptian Thin;

// Guardian - Sans

$ipd-sans-reg: AS32 Agate Sans;

// Observer
// Observer headline

$ipd-observer-serif-headline-heavy: MD3 Mercury Display Heavy;

$ipd-observer-serif-headline-reg: MD2 Mercury Display;

$ipd-observer-serif-headline-light: MD1 Mercury Display Light;

$ipd-observer-sans-headline-sport: WP6 Web Prelo Heavy;

// Observer body text

$ipd-observer-serif-text: MT Mercury Text;

// Observer Sans

$ipd-observer-sans-reg: WP2 Web Prelo Book ;
$ipd-observer-sans-light: WP0 Web Prelo ExtraLight ;

// Observer Slabs

$ipd-observer-slabs-black: WPS5 Web Prelo Slab Black ;
$ipd-observer-slabs-heavy: WPS4 Web Prelo Slab Heavy ;
$ipd-observer-slabs-medium: WPS2 Web Prelo Slab Medium;
