.explore {
	background: rgb(45,46,48);
	background: -moz-radial-gradient(center, circle contain,  rgba(45,46,48,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(45,46,48,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, circle contain,  rgba(45,46,48,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, circle contain,  rgba(45,46,48,1) 0%,rgba(0,0,0,1) 100%);
	background: -webkit-radial-gradient(center, circle, rgba(45,46,48,1) 0%, rgba(0,0,0,1) 100%);
	background: -moz-radial-gradient(center, circle, rgba(45,46,48,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, circle, rgba(45,46,48,1) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(circle at center,  rgba(45,46,48,1) 0%,rgba(0,0,0,1) 100%);

	opacity: 0;
	display: none;
	-webkit-transition: opacity 350ms linear;
	   -moz-transition: opacity 350ms linear;
	     -o-transition: opacity 350ms linear;
	        transition: opacity 350ms linear;
}

.explore > .back-button {
	top: 0;
	left: 0;
	width: 20%;
	height: 14%;
	-moz-background-size: 50% auto;
	  -o-background-size: 50% auto;
	     background-size: 50% auto;
	background-image: url( ../img/back-button.png );
	z-index: 100;
}
@media all and (orientation:landscape) {
	.explore > .back-button {
		-moz-background-size: 33% auto;
		  -o-background-size: 33% auto;
		     background-size: 33% auto;
	}
}

.explore > .title {
	top: 3%;
	width: 50%;
	height: 13%;
	left: 25%;
	background-image: url( ../img/explore-watch.png );
	background-position: center bottom;
	-webkit-transition: opacity 350ms linear;
	   -moz-transition: opacity 350ms linear;
	     -o-transition: opacity 350ms linear;
	        transition: opacity 350ms linear;
}
@media all and (orientation:landscape) {
	.explore > .title {
		top: 10%;
		height: 4%;
	}
}

.explore > .watch-container,
.explore > .scroll-wrapper {
	top: 20%;
	bottom: 20%;
	left: 0;
	right: 0;
	height: 60%;
	margin: auto;
	-webkit-transition: opacity 350ms linear;
	   -moz-transition: opacity 350ms linear;
	     -o-transition: opacity 350ms linear;
	        transition: opacity 350ms linear;
}

.explore > .watch-container > .watch {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url( ../img/watch.png );
}

.explore .hotspot {
	width: 30%;
	padding: 15% 0;
	margin: -7.5% 0 0 -7.5%;
	background-image: url( ../img/hotspot.png );
	-webkit-animation: pulse 1.25s ease-in-out infinite;
	   -moz-animation: pulse 1.25s ease-in-out infinite;
	     -o-animation: pulse 1.25s ease-in-out infinite;
	        animation: pulse 1.25s ease-in-out infinite;
}
.explore > .watch-container > .hotspot.one {
	top: 47%;
	left: 0;
}
.explore > .watch-container > .hotspot.two {
	top: 24%;
	left: 35%;
}
.explore > .watch-container > .hotspot.three {
	top: 52%;
	left: 32%;
}
.explore > .watch-container > .hotspot.four {
	top: 20%;
	left: 70%;
}
.explore > .watch-container > .hotspot.five {
	top: 38%;
	left: 94%;
}



.explore > .scroll-wrapper {
	/*top: 10%;*/
	display: none;
	opacity: 0;
}

.explore > .scroll-wrapper > .explore-watch {
	top: -16%;
	width: 50%;
	height: 13%;
	left: 25%;
	background-image: url( ../img/cta-explore.png );
	background-position: center bottom;
}


.explore > .scroll-wrapper > .arrow {
	width: 10%;
	height: 100%;
	z-index: 5;
}
@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .arrow {
		width: 7%;
	}
}

.explore > .scroll-wrapper > .arrow.left {
	left: 0;
	background-image: url( ../img/arrow-left.png );
	-moz-background-size: 80% auto;
	  -o-background-size: 80% auto;
	     background-size: 80% auto;
	background-position: right 40%;
}
.explore > .scroll-wrapper > .arrow.right {
	right: 0;
	background-image: url( ../img/arrow-right.png );
	-moz-background-size: 80% auto;
	  -o-background-size: 80% auto;
	     background-size: 80% auto;
	background-position: left 40%;
}

.explore > .scroll-wrapper > .scroll-container,
.explore > .scroll-wrapper > .scroll-container > .scroll-item {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.explore > .scroll-wrapper > .scroll-container {
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 500ms ease;
	   -moz-transition: -moz-transform 500ms ease;
	     -o-transition: -o-transform 500ms ease;
	        transition: transform 500ms ease;
}

.explore > .scroll-wrapper > .scroll-container > .scroll-item > .hotspot {
	width: 22%;
	padding: 11% 0;
	margin: -5.5% 0 0 -5.5%;
	-webkit-animation: none;
	   -moz-animation: none;
	     -o-animation: none;
	        animation: none;
}

@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .scroll-container > .scroll-item > .hotspot {
		width: 15%;
		padding: 7.5% 0;
		margin: -3.75% 0 0 -3.75%;
	}
}

.explore > .scroll-wrapper > .scroll-container > .one > .img {
	bottom: 0;
	left: 0;
	right: 0;
	width: 85%;
	height: 80%;
	margin: auto;
	background-image: url( ../img/img-00.png );
	background-position: center bottom;
}
.explore > .scroll-wrapper > .scroll-container > .one > .hotspot {
	top: 67%;
	left: 29%;
}
.explore > .scroll-wrapper > .scroll-container > .one > .copy {
	top: 12%;
	left: -2%;
	width: 100%;
	height: 15%;
	background-image: url( ../img/img-00-copy.png );
	background-position: center top;
}

@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .scroll-container > .one > .hotspot {
		left: 37%;
	}
}

.explore > .scroll-wrapper > .scroll-container > .two > .img {
	top: 10%;
	left: 0;
	right: 0;
	width: 85%;
	height: 60%;
	margin: auto;
	background-image: url( ../img/img-01.png );
	background-position: center bottom;
}
.explore > .scroll-wrapper > .scroll-container > .two > .copy {
	bottom: 15%;
	left: 12.5%;
	width: 80%;
	height: 17%;
	margin: auto;
	background-image: url(../img/img-01-copy.png );
	background-position: left top;
}
.explore > .scroll-wrapper > .scroll-container > .two > .hotspot {
	top: 43%;
	left: 41%;
}

@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .scroll-container > .two > .copy {
		left: 21.5%;
	}

	.explore > .scroll-wrapper > .scroll-container > .two > .hotspot {
		top: 42%;
		left: 44%;
	}
}


.explore > .scroll-wrapper > .scroll-container > .three > .img {
	bottom: 0;
	left: 0;
	right: 0;
	width: 78%;
	height: 68%;
	margin: auto;
	background-image: url( ../img/img-02.png );
	background-position: center bottom;
}
.explore > .scroll-wrapper > .scroll-container > .three > .copy {
	top: 5%;
	left: 12.5%;
	width: 80%;
	height: 25%;
	margin: auto;
	background-image: url(../img/img-02-copy.png );
	background-position: left bottom;
}
.explore > .scroll-wrapper > .scroll-container > .three > .hotspot {
	bottom: 27%;
	left: 41%;
}
@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .scroll-container > .three > .copy {
		background-position: 26% bottom;
	}
}


.explore > .scroll-wrapper > .scroll-container > .four {
	/*background-image: url( ../img/watch.png );*/
}
.explore > .scroll-wrapper > .scroll-container > .four > .img {
	bottom: 0;
	left: 10%;
	width: 50%;
	height: 100%;
	background-image: url( ../img/watch.png );
	background-position: left bottom;
}
.explore > .scroll-wrapper > .scroll-container > .four > .copy {
	bottom: 16%;
	left: 51%;
	width: 41%;
	height: 25%;
	background-image: url(../img/img-03-copy.png );
	background-position: left bottom;
}
.explore > .scroll-wrapper > .scroll-container > .four > .hotspot {
	top: 20%;
	left: 43%;
}
@media all and (orientation:landscape) {
	.explore > .scroll-wrapper > .scroll-container > .four > .copy {
		left: 43%;
	}
	.explore > .scroll-wrapper > .scroll-container > .four > .hotspot {
		left: 30%;
	}
}

.explore > .scroll-wrapper > .scroll-container > .five > .img {
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 90%;
	height: 45%;
	background-image: url( ../img/img-04.png );
	background-position: center bottom;
}
.explore > .scroll-wrapper > .scroll-container > .five > .copy {
	top: 38%;
	left: 0;
	right: 0;
	width: 35%;
	height: 15%;
	margin: auto;
	background-image: url( ../img/img-04-copy.png );
	background-position: center top;
}
.explore > .scroll-wrapper > .scroll-container > .five > .hotspot {
	bottom: 23%;
	left: 51%;
}


.explore > .button-wrapper > div:nth-child(1) {
	background-image: url( ../img/cta-radoandtennis.png );
}
.explore > .button-wrapper > div:nth-child(2) {
	background-image: url( ../img/cta-storelocator.png );
}


@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}


@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}


@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}


@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}}