$pillars: (
    news: (
        captionBackground: $obs-news-sub,
        link-color: $obs-news-dark,
        byline-color: $obs-news-dark,
        bylineComment-color:$obs-news-main,
        arrow-up-color: $obs-news-sub,
        section-color: $obs-news-main,
        captionFont-color: $brightness-100,
        caps-color: $obs-news-main,
        headlineFeature-color: $brightness-7,
        featureSectionContainer-color: $obs-news-main,
        sectionContainerInterview: $obs-news-sub
    ),
    opinion: (
        captionBackground: $obs-opinion-main,
        link-color: $obs-opinion-sub,
        byline-color: $obs-opinion-sub,
        bylineComment-color:$obs-opinion-sub,
        arrow-up-color: $obs-opinion-main,
        section-color: $obs-opinion-sub,
        captionFont-color: $brightness-100,
        caps-color: $obs-opinion-sub,
        headlineFeature-color: $brightness-7,
        featureSectionContainer-color: $obs-opinion-main,
        sectionContainerInterview: $obs-opinion-sub
    ),
    sport: (
        captionBackground: $highlight-main,
        arrow-up-color: $highlight-main,
        link-color: $obs-sport-main,
        byline-color: $obs-sport-main,
        bylineComment-color:$obs-sport-main,
        section-color: $obs-sport-main,
        captionFont-color: $brightness-7,
        caps-color: $obs-sport-main,
        headlineFeature-color: $brightness-7,
        featureSectionContainer-color: $obs-sport-main,
        sectionContainerInterview: $obs-sport-main
    ),
    arts: (
        captionBackground: $obs-culture-dark,
        link-color: $obs-culture-main,
        byline-color: $obs-culture-main,
        bylineComment-color:$obs-culture-main,
        arrow-up-color: $obs-culture-dark,
        section-color: $obs-culture-main,
        captionFont-color: $brightness-100,
        caps-color: $obs-culture-main,
        headlineFeature-color: $brightness-7,
        featureSectionContainer-color: $obs-culture-main,
        sectionContainerInterview: $obs-culture-main
    ),
    lifestyle: (
        captionBackground: $obs-lifestyle-sub,
        link-color: $obs-lifestyle-sub,
        byline-color: $obs-lifestyle-main,
        bylineComment-color:$obs-lifestyle-main,
        arrow-up-color: $obs-lifestyle-sub,
        section-color: $obs-lifestyle-sub,
        captionFont-color: $brightness-100,
        caps-color: $obs-lifestyle-sub,
        headlineFeature-color: $obs-lifestyle-main,
        featureSectionContainer-color: $obs-lifestyle-main,
        sectionContainerInterview: $obs-lifestyle-sub
    ),
    cartoon: (
        featureSectionContainer-color: $brightness-100,
        sectionFont: $brightness-97,
        arrow-up-color: $brightness-100,
    )
);

@mixin colours($palette) {
  $captionBackground: map-get($palette, captionBackground);
  $captionFont-color: map-get($palette, captionFont-color);
  $link-color: map-get($palette, link-color);
  $byline-color: map-get($palette, byline-color);
  $bylineComment-color: map-get($palette, bylineComment-color);
  $arrow-up-color: map-get($palette, arrow-up-color);
  $section-color: map-get($palette, section-color);
  $caps-color: map-get($palette, caps-color);
  $headlineFeature-color: map-get($palette, headlineFeature-color);
  $featureSectionContainer-color: map-get($palette, featureSectionContainer-color);
  $sectionFont: map-get($palette, sectionFont);
  $sectionContainerInterview: map-get($palette, sectionContainerInterview);

    .picture__caption-container {
      background-color: $captionBackground;
      color: $captionFont-color;
    }

    a, a:hover {
      color: $link-color;
    }

    ul ::before {
      background-color: $section-color;
    }

    .text-bullet {
      background-color: $section-color;
    }

    .byline__author {
      color: $byline-color;
    }

    .arrow-up {
      border-bottom: 14px solid $arrow-up-color;
    }

    .arrow-up-small {
      border-bottom: 15px solid $arrow-up-color;
    }

    .section {
      color: $section-color;
    }

    .section__series {
      color: $section-color;
    }

    .byline--comment {
      color: $bylineComment-color;
    }
    .standfirst + .byline--feature + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst + .byline--feature + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .comment-standfirst-container + .multiline + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .comment-standfirst-container + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst--interview + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .headline--feature {
      color: $headlineFeature-color;
    }
    .section {
      &__container {
        //background-color: $featureSectionContainer-color;
        color: $sectionFont;
      }
    }
    .section__immersive .section__container {
      background-color: $featureSectionContainer-color;
    }
    .section__container--interview {
      background-color: $sectionContainerInterview;
    }

    .headline--analysis-lines {
      background-color: $section-color;
    }

    .picture__caption--second p::before {
      border-bottom: 12px solid $section-color;
    }

}

@each $pillar, $palette in $pillars {
    .Article__pillar--#{$pillar} {
        @include colours($palette);
    }
}
