$pillars: (
    news: (
        captionBackground: $news-main,
        link-color: $news-main,
        byline-color: $news-main,
        bylineComment-color:$news-main,
        arrow-up-color: $news-main,
        section-color: $news-main,
        captionFont-color: $brightness-100,
        caps-color: $news-main,
        headlineFeature-color: $news-dark,
        featureSectionContainer-color: $news-main,
        sectionContainerInterview: $news-dark
    ),
    opinion: (
        captionBackground: $opinion-main,
        link-color: $opinion-main,
        byline-color: $opinion-main,
        bylineComment-color:$opinion-main,
        arrow-up-color: $opinion-main,
        section-color: $opinion-main,
        captionFont-color: $brightness-100,
        caps-color: $opinion-main,
        headlineFeature-color: $opinion-dark,
        featureSectionContainer-color: $opinion-main,
        sectionContainerInterview: $opinion-dark
    ),
    sport: (
        captionBackground: $highlight-main,
        arrow-up-color: $highlight-main,
        link-color: $sport-main,
        byline-color: $sport-main,
        bylineComment-color:$sport-main,
        section-color: $sport-main,
        captionFont-color: $brightness-7,
        caps-color: $sport-main,
        headlineFeature-color: $sport-dark,
        featureSectionContainer-color: $sport-main,
        sectionContainerInterview: $sport-dark
    ),
    arts: (
        captionBackground: $culture-main,
        link-color: $culture-main,
        byline-color: $culture-main,
        bylineComment-color:$culture-main,
        arrow-up-color: $culture-main,
        section-color: $culture-main,
        captionFont-color: $brightness-100,
        caps-color: $culture-main,
        headlineFeature-color: $culture-dark,
        featureSectionContainer-color: $culture-main,
        sectionContainerInterview: $culture-dark
    ),
    lifestyle: (
        captionBackground: $lifestyle-main,
        link-color: $lifestyle-main,
        byline-color: $lifestyle-main,
        bylineComment-color:$lifestyle-main,
        arrow-up-color: $lifestyle-main,
        section-color: $lifestyle-main,
        captionFont-color: $brightness-100,
        caps-color: $lifestyle-main,
        headlineFeature-color: $lifestyle-dark,
        featureSectionContainer-color: $lifestyle-main,
        sectionContainerInterview: $lifestyle-dark
    ),
    cartoon: (
        featureSectionContainer-color: white,
        sectionFont: $brightness-7,
        arrow-up-color: white,
    )
);

@mixin colours($palette) {
  $captionBackground: map-get($palette, captionBackground);
  $captionFont-color: map-get($palette, captionFont-color);
  $link-color: map-get($palette, link-color);
  $byline-color: map-get($palette, byline-color);
  $bylineComment-color: map-get($palette, bylineComment-color);
  $arrow-up-color: map-get($palette, arrow-up-color);
  $section-color: map-get($palette, section-color);
  $caps-color: map-get($palette, caps-color);
  $headlineFeature-color: map-get($palette, headlineFeature-color);
  $featureSectionContainer-color: map-get($palette, featureSectionContainer-color);
  $sectionFont: map-get($palette, sectionFont);
  $sectionContainerInterview: map-get($palette, sectionContainerInterview);

    .picture__caption-container {
      background-color: $captionBackground;
      color: $captionFont-color;
    }

    a {
      color: $link-color;
    }

    .byline {
      color: $byline-color;
    }

    .arrow-up {
      border-bottom: 25px solid $arrow-up-color;
    }

    .arrow-up-small {
      border-bottom: 15px solid $arrow-up-color;
    }

    .section {
      color: $section-color;
    }

    .byline--comment {
      color: $bylineComment-color;
    }
    .standfirst + .byline--feature + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst + .byline--feature + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .comment-standfirst-container + .multiline + .picture + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .comment-standfirst-container + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .standfirst--interview + .multiline + .guardian-body-text--caps > p:first-of-type:first-letter {
      color: $caps-color;
    }
    .headline--feature {
      color: $headlineFeature-color;
    }
    .section {
      &__container {
        background-color: $featureSectionContainer-color;
        color: $sectionFont;
      }
    }
    .section__container--interview {
      background-color: $sectionContainerInterview;
    }
}

@each $pillar, $palette in $pillars {
    .Article__pillar--#{$pillar} {
        @include colours($palette);
    }
}
