// Create single and multiline rules across the site
@mixin multiline($number, $color, $position: bottom) {
    $bgSize: $number * 4 - 3;

    background-image: repeating-linear-gradient(to bottom, $color, $color 1px, transparent 1px, transparent 4px);
    background-repeat: repeat-x;
    background-position: $position;
    background-size: 1px #{$bgSize}px;
}
