// // Guardian - body text, byline
//
// $ipd-serif-text: WT1 Web Text;
//
// // Guardian - headline, labels
//
// $ipd-serif-headline-black: DE7 Display Egyptian Black;
//
// $ipd-serif-headline-bold:DE6 Display Egyptian Bold;
//
// $ipd-serif-headline-semibold: DE5 Display Egyptian SemiBold;
//
// $ipd-serif-headline-reg: DE3 Display Egyptian;
//
// $ipd-serif-headline-light: DE2 Display Egyptian Light;
//
// $ipd-serif-headline-thin: DE1 Display Egyptian Thin;
//
// // Guardian - Sans
//
// $ipd-sans-reg: AS32 Agate Sans;
//
// // Observer$
// // Observer headline
//
// $ipd-observer-serif-headline-heavy: MD3 Mercury Display Heavy;
//
// $ipd-observer-serif-headline-reg: MD2 Mercury Display;
//
// $ipd-observer-serif-headline-light: MD1 Mercury Display Light;
//
// $ipd-observer-sans-headline-sport: WP6 Web Prelo Heavy;
//
// // Observer body text
//
// $ipd-observer-serif-text: MT Mercury Text;
//
// // Observer Sans
//
// $ipd-observer-sans-reg: WP2 Web Prelo Book ;
// $ipd-observer-sans-light: WP0 Web Prelo ExtraLight ;
//
// // Observer Slabs
//
// $ipd-observer-slabs-black: WPS5 Web Prelo Slab Black ;
// $ipd-observer-slabs-heavy: WPS4 Web Prelo Slab Heavy ;
// $ipd-observer-slabs-medium: WPS2 Web Prelo Slab Medium;



// New fonts

$fontMap: (

    // Icon font
    GuardianIcons: (
        family: 'Guardian Icons',
        android-src: 'local("GuardianIcons-Regular")',
        ios-src: 'local("GuardianIcons-Regular")'
    ),

    // Headline
    GHGuardianHeadlineLight: (
        family: 'Guardian Headline',
        weight: 200,
        android-src: 'local("GHGuardianHeadline-Light"), local("DE1DisplayEgyptianThin")',
        ios-src: 'local("GHGuardianHeadline-Light"), local("DE1DisplayEgyptianThin")'
    ),
    GHGuardianHeadlineLightItalic: (
        family: 'Guardian Headline',
        weight: 200,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-LightItalic"), local("DE1DisplayEgyptianThin-Italic")',
        ios-src: 'local("GHGuardianHeadline-LightItalic"), local("DE1DisplayEgyptianThin-Italic")'
    ),
    GHGuardianHeadlineRegular: (
        family: 'Guardian Headline',
        weight: 400,
        android-src: 'local("GHGuardianHeadline-Regular"), local("DE3DisplayEgyptian")',
        ios-src: 'local("GHGuardianHeadline-Regular"), local("DE3DisplayEgyptian")'
    ),
    GHGuardianHeadlineRegularItalic: (
        family: 'Guardian Headline',
        weight: 400,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-RegularItalic"), local("DE3DisplayEgyptian-Italic")',
        ios-src: 'local("GHGuardianHeadline-RegularItalic"), local("DE3DisplayEgyptian-Italic")'
    ),
    GHGuardianHeadlineMedium: (
        family: 'Guardian Headline',
        weight: 500,
        android-src: 'local("GHGuardianHeadline-Medium"), local("DE4DisplayEgyptianMedium")',
        ios-src: 'local("GHGuardianHeadline-Medium"), local("DE4DisplayEgyptianMedium")'
    ),
    GHGuardianHeadlineMediumItalic: (
        family: 'Guardian Headline',
        weight: 500,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-MediumItalic"), local("DE5DisplayEgyptianSemiBold")',
        ios-src: 'local("GHGuardianHeadline-MediumItalic"), local("DE5DisplayEgyptianSemiBold")'
    ),
    GHGuardianHeadlineSemibold: (
        family: 'Guardian Headline',
        weight: 600,
        android-src: 'local("GHGuardianHeadline-Semibold"), local("DE5DisplayEgyptianSemiBold")',
        ios-src: 'local("GHGuardianHeadline-Semibold"), local("DE5DisplayEgyptianSemiBold")'
    ),
    GHGuardianHeadlineSemiboldItalic: (
        family: 'Guardian Headline',
        weight: 600,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-SemiboldItalic"), local("DE5DisplayEgyptianSemiBold-Italic")',
        ios-src: 'local("GHGuardianHeadline-SemiboldItalic"), local("DE5DisplayEgyptianSemiBold-Italic")'
    ),
    GHGuardianHeadlineBold: (
        family: 'Guardian Headline',
        weight: 700,
        android-src: 'local("GHGuardianHeadline-Bold"), local("DE6DisplayEgyptianBold")',
        ios-src: 'local("GHGuardianHeadline-Bold"), local("DE6DisplayEgyptianBold")'
    ),
    GHGuardianHeadlineBoldItalic: (
        family: 'Guardian Headline',
        weight: 700,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-BoldItalic"), local("DE6DisplayEgyptianBold-Italic")',
        ios-src: 'local("GHGuardianHeadline-BoldItalic"), local("DE6DisplayEgyptianBold-Italic")'
    ),
    GHGuardianHeadlineBlack: (
        family: 'Guardian Headline',
        weight: 900,
        android-src: 'local("GHGuardianHeadline-Black"), local("DE7DisplayEgyptianBlack")',
        ios-src: 'local("GHGuardianHeadline-Black"), local("DE7DisplayEgyptianBlack")'
    ),
    GHGuardianHeadlineBlackItalic: (
        family: 'Guardian Headline',
        weight: 900,
        style: 'italic',
        android-src: 'local("GHGuardianHeadline-BlackItalic"), local("DE7DisplayEgyptianBlack-Italic")',
        ios-src: 'local("GHGuardianHeadline-BlackItalic"), local("DE7DisplayEgyptianBlack-Italic")'
    ),


    // Text Egyptian
    GuardianTextEgyptianWeb: (
        family: 'Guardian Text Egyptian Web',
        android-src: 'local("GuardianTextEgyptian-Reg"), local("WT1WebText-Regular")',
        ios-src: 'local("GuardianTextEgyptian-Reg"), local("WT1WebText-Regular")'
    ),
    GuardianTextEgyptianWebBold: (
        family: 'Guardian Text Egyptian Web',
        weight: 'bold',
        android-src: 'local("GuardianTextEgyptian-Bold"), local("WT1WebText-Bold")',
        ios-src: 'local("GuardianTextEgyptian-Bold"), local("WT1WebText-Bold")'
    ),
    GuardianTextEgyptianWebItalic: (
        family: 'Guardian Text Egyptian Web',
        style: 'italic',
        android-src: 'local("GuardianTextEgyptian-RegIt"), local("WT1WebText-Italic")',
        ios-src: 'local("GuardianTextEgyptian-RegIt"), local("WT1WebText-Italic")'
    ),
    GuardianTextEgyptianWebBoldItalic: (
        family: 'Guardian Text Egyptian Web',
        style: 'italic',
        weight: 'bold',
        android-src: 'local("GuardianTextEgyptian-BoldIt"), local("WT1WebText-BoldItalic")',
        ios-src: 'local("GuardianTextEgyptian-BoldIt"), local("WT1WebText-BoldItalic")'
    ),

    GuardianTextSansWeb400: (
        family: 'Guardian Text Sans Web',
        weight: 400,
        android-src: 'local("GuardianTextSans-Regular"), local("AS32AgateSans")',
        ios-src: 'local("GuardianTextSans-Regular"), local("AS32AgateSans")'
    ),
    GuardianTextSansWeb600: (
        family: 'Guardian Text Sans Web',
        weight: 600,
        android-src: 'local("GuardianTextSans-Bold"), local("AS32AgateSans-Bold")',
        ios-src: 'local("GuardianTextSans-Bold"), local("AS32AgateSans-Bold")'
    ),
    GuardianTextSansWeb400Italic: (
        family: 'Guardian Text Sans Web',
        weight: 400,
        style: 'italic',
        android-src: 'local("GuardianTextSans-RegularIt"), local("AS32AgateSans-Italic")',
        ios-src: 'local("GuardianTextSans-RegularIt"), local("AS32AgateSans-Italic")'
    ),
    GuardianTextSansWeb600Italic: (
        family: 'Guardian Text Sans Web',
        weight: 600,
        style: 'italic',
        android-src: 'local("GuardianTextSans-BoldIt"), local("AS32AgateSans-BoldItalic")',
        ios-src: 'local("GuardianTextSans-BoldIt"), local("AS32AgateSans-BoldItalic")'
    ),

    // Observer fonts ////////////////////////////////////////
    // Headline
    ObserverHeadlineLight: (
        family: 'Observer Headline',
        weight: 200,
        android-src: 'local("SoleDisplay-Light")',
        ios-src: 'local("SoleDisplay-Light")'
    ),
    ObserverHeadlineLightItalic: (
        family: 'Observer Headline',
        weight: 200,
        style: 'italic',
        android-src: 'local("SoleDisplay-LightIt")',
        ios-src: 'local("SoleDisplay-LightIt")'
    ),
    ObserverHeadlineRegular: (
        family: 'Observer Headline',
        weight: 400,
        android-src: 'local("SoleDisplay-Regular")',
        ios-src: 'local("SoleDisplay-Regular")'
    ),
    ObserverHeadlineRegularItalic: (
        family: 'Observer Headline',
        weight: 400,
        style: 'italic',
        android-src: 'local("SoleDisplay-RegularIt")',
        ios-src: 'local("SoleDisplay-RegularIt")'
    ),
    ObserverHeadlineMedium: (
        family: 'Observer Headline',
        weight: 500,
        android-src: 'local("SoleDisplay-Medium")',
        ios-src: 'local("SoleDisplay-Medium")'
    ),
    ObserverHeadlineMediumItalic: (
        family: 'Observer Headline',
        weight: 500,
        style: 'italic',
        android-src: 'local("SoleDisplay-MediumIt")',
        ios-src: 'local("SoleDisplay-MediumIt")'
    ),
    ObserverHeadlineBold: (
        family: 'Observer Headline',
        weight: 600,
        android-src: 'local("SoleDisplay-Bold")',
        ios-src: 'local("SoleDisplay-Bold")'
    ),
    ObserverHeadlineBoldItalic: (
        family: 'Observer Headline',
        weight: 600,
        style: 'italic',
        android-src: 'local("SoleDisplay-BoldIt")',
        ios-src: 'local("SoleDisplay-BoldIt")'
    ),
    ObserverHeadlineExtraBold: (
        family: 'Observer Headline',
        weight: 700,
        android-src: 'local("SoleDisplay-ExtraBold")',
        ios-src: 'local("SoleDisplay-ExtraBold")'
    ),
    ObserverHeadlineExtraBoldItalic: (
        family: 'Observer Headline',
        weight: 700,
        style: 'italic',
        android-src: 'local("SoleDisplay-ExtraBoldIt")',
        ios-src: 'local("SoleDisplay-ExtraBoldIt")'
    ),
    ObserverHeadlineBlack: (
        family: 'Observer Headline',
        weight: 900,
        android-src: 'local("SoleDisplay-Black")',
        ios-src: 'local("SoleDisplay-Black")'
    ),
    ObserverHeadlineBlackItalic: (
        family: 'Observer Headline',
        weight: 900,
        style: 'italic',
        android-src: 'local("SoleDisplay-BlackIt")',
        ios-src: 'local("SoleDisplay-BlackIt")'
    ),

    // Sole Body Text
    ObserverTextSole: (
        family: 'Observer Body Text',
        android-src: 'local("SoleBodyText-Regular")',
        ios-src: 'local("SoleBodyText-Regular")'
    ),
    ObserverTextSoleBold: (
        family: 'Observer Body Text',
        weight: 'bold',
        android-src: 'local("SoleBodyText-Bold")',
        ios-src: 'local("SoleBodyText-Bold")'
    ),
    ObserverTextSoleItalic: (
        family: 'Observer Body Text',
        style: 'italic',
        android-src: 'local("SoleBodyText-RegularIt")',
        ios-src: 'local("SoleBodyText-RegularIt")'
    ),
    ObserverTextSoleBoldItalic: (
        family: 'Observer Body Text',
        style: 'italic',
        weight: 'bold',
        android-src: 'local("SoleBodyText-BoldIt")',
        ios-src: 'local("SoleBodyText-BoldIt")'
    ),

    // Sole Display Big


);

@mixin fontList($platform) {
    @each $font, $properties in $fontMap {
        @font-face {
            font-family: '#{map-get($properties, family)}';
            @if map-has-key($properties, style) {
                font-style: #{map-get($properties, style)};
            }
            @if map-has-key($properties, weight) {
                font-weight: #{map-get($properties, weight)};
            }
            src: #{map-get($properties, #{$platform}-src)};
        }
    }
}
