// for body text, byline

$width-content-portrait: 531px;
$width-content: 620px;
$width-screen: 784px;
$width-wide-picture: 730px;

$mq-breakpoints: (
    landscape:       1024px,
    portrait:         768px,
);
