<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>cartoon</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <link rel="stylesheet" href="cartoon.css" type="text/css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--cartoon">
      <div class="content content--cartoon">
        <div class="section section__feature">
          <div class="section__container">
            Guardian Opinion cartoon
          </div>
          <span class="section__series">
              Rail fares
          </span>
        </div>
        <div class="headline headline--cartoon">
          <p>Steve Bell on Chris Grayling, rail fare hikes and staff pay – cartoon</p>
        </div>
        <div class="multiline--cartoon"></div>
        <div class="picture">
          <div class="picture--wide">
            <img src="assets/cartoon-example.png" alt="">
          </div>
          <div class="picture__caption-container--simple">
            <div class="arrow-up-small"></div>
            <div class="picture__caption--simple picture__caption--cartoon">
              <p>Illustration: Steve Bell</p>
            </div>
            <div class="multiline--cartoon"></div>
          </div>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
