<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Comment-sport</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body class="body--background-comment-template">
  <div class="luther-document">
    <div class="Article Article__pillar--sport">
      <div class="content">
        <div class="section section__comment--sport">
          Football
        </div>
        <div class="headline headline--comment">
          <p>Four weeks of endless drama in Russia has re-energised World Cup</p>
        </div>
        <div class="byline--comment">Barney Ronay</div>

        <div class="comment-standfirst-container">
          <div class="standfirst oneline">
            <p>After a tournament that was gripping from start to finish, Qatar has a lot to live up to</p>
          </div>
          <div>
            <img src="assets/author_pic.png" alt="">
          </div>
        </div>
        <div class="multiline--sport">
        </div>
        <div class="picture">
          <div class="picture--first">
            <img src="assets/sport-example.png" alt="">
          </div>
          <div class="picture__caption-container picture__caption-container--sport">
            <div class="arrow-up"></div>
            <div class="picture__caption">
              <p>Geraint Thomas rode his way into the yellow jersey with victory on a gruelling stage 11. <span class="picture__caption--credit">Photograph: Marco Bertorello/AFP/Getty Images</span></p>
            </div>
          </div>
        </div>

        <div class="guardian-body-text--caps">
          <p>Thank you Russia, and goodbye! It’s been fun. Not to mention epic, thrilling, dazzlingly well-organised, and with a constantly shifting sense of place from the strangulating heat of Samara, to the fly-marshes of Volgograd, to the mist and drizzle
            of the north.</p>
          <p>But that is now a wrap. After four and a half weeks and <a href="#">64 matches</a>, 1,613 shots, 1,734 fouls and a shared continental-scale avalanche of herring, beetroot, dumplings, vodka and sustained on-field drama, the World Cup can now
            be packed away for the next four years.</p>
          <p>It is tempting in the immediate glow to call this the greatest modern tournament. Certainly Gianni Infantino and friends have been energetically congratulating themselves. On the eve of Sunday’s final the swanky Arbat embankment was buzzing.
            This is where Fifa based itself for Russia 2018, with an HQ at the Stalin-does-Disney Radisson Royal, the tallest hotel in the world when it opened in 1957, and host these days to its own fleet of river yachts.</p>
          <p>On the strip outside the Royal on Saturday night an armed military escort lounged in its supercharged Mercedes jeep, next to the plain-clothes security in the Cadillac Escalade, just down from the black-out Maybachs, part of a £2m haul of luxury
            cars lined up waiting for their passengers to eat a pizza.</p>
          <p>Inside the Qatar 2022 committee could be seen enjoying a pre-final dinner that looked more like a celebration. Understandably so. Russia 2018, the other half of the late-Blatter two-hander, has been a wonderful success, a World Cup that has
            both re-geared international football’s juggernaut status and reinforced Fifa’s authority as keeper of the spectacle.</p>
          <p>Around the same time Infantino was across town on stage at the ballet cooing and fawning over Vladimir Putin. “This World Cup is changing the perception of Russia, particularly from us in the west. Even the police are smiling!” Fifa’s president
            gushed, a political statement for which he will now presumably fine himself heavily.in this year’s Giro d’Italia, is within two minutes of the team’s British pairing. Only Vincenzo Nibali, Primoz Riglic, Steven Kruijswijk, Mikel Landa and
            Nairo Quintana are within three.</p>
          <p>For Quintana’s Movistar team it proved a make-or-break stage. The Colombian’s Spanish teammate Alejandro Valverde launched an ambitious attack 55km from the finish but wilted on the final climb. That may have been the platform for Quintana or
            co-leader Landa to go clear, but under the pressure of Sky’s high‑tempo riding both were found wanting.</p>
          <div class="picture">
            <div class="picture--second">
              <img src="assets/image_second.png" alt="">
            </div>
            <div class="picture__caption picture__caption--second">
              second caption under image is in sans
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
