<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>feature--recipe</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--lifestyle">
      <div class="content">
        <div class="section section__feature">
          <div class="section__container">
            Simple
          </div>
          <span class="section__series">
              Secondary series tag
          </span>
        </div>
        <div class="headline headline--feature">
          <p>Thomasina Miers’ recipe for green bean and new potato ‘tonnato’ salad</p>
        </div>

        <div class="standfirst standfirst--feature multiline--lifestyle">
          <p>The global company was once lauded for being ahead of the curve, so what was behind the ‘pay-your-age’ misjudgment that left scores of its little customers brokenhearted?</p>
        </div>
        <div class="byline--feature">By Thomasina Miers</div>

        <div class="picture">
          <div class="picture--wide">
            <img src="assets/recipe-example.png" alt="">
          </div>
          <div class="picture__caption-container--simple">
            <div class="arrow-up-small"></div>
            <div class="picture__caption--simple">
              <p>Build-A-Bear underestimated the devotion of its young fans – and the human appetite for a bargain.<span class="picture__caption--credit"> Photograph: Christian Sinibaldi for the Guardian</span></p>
            </div>
          </div>
        </div>

        <div class="guardian-body-text--caps bold-caps">
          <p>I love tonnato so much that I could eat it for breakfast. It evokes sunshine for me – summery holidays where all cares in the world are fixed by peaches, white wine, anchovies, quiches and creme brulee (though not necessarily in that order).
            I fell for tonnato on one particular Italian holiday, when we ate it with veal. It was so mouthwatering that I was smitten. Here is a version loaded with vegetables, for the summer.</p>
            <h2>Green bean and new potato ‘tonnato’ salad</h2>
           <p>To make a meal of this dish, serpve it (and the excess it makes) alongside a roast chicken. A soft poached egg is an excellent addition to this salad, too.</p>
           <p>Prep 15 min Cook 30-35 min Serves 4</p>
           <p>
              For the vegetables
              2 red onions, peeled and cut into wedges
              400g small or cherry tomatoes
              Olive oil
              Salt and black pepper
              1 handful basil
              200g green beans

              For the yorkshire puddings
              200g plain white flour
              2 tbsp poppy seeds
              2 tbsp toasted sesame seeds
              1 heaped tsp wholegrain mustard
              Salt and black pepper
              4 eggs
              250ml milk, topped up to 300ml with cold water
              12 tsp rapeseed oil or groundnut oil

              Heat the oven to 180C/350F/gas 4. Put the onions and tomatoes into a sturdy roasting tray, drizzle well with olive oil, season, tear over the basil, then put into the oven for 30 minutes, until the tomatoes are burnished and the onions soft.

              For the yorkshire puddings, mix the flour, seeds, mustard, one teaspoon of salt and a good grinding of pepper in a bowl. Crack the eggs in, pour in a little of the milk mixture, and beat smooth. Continue adding the rest of the milk, bit by bit, until you have a smooth batter the consistency of double cream, then leave to rest for at least 15 minutes.

            </p>

       </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
