<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>feature</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--lifestyle">
      <div class="content">
        <div class="section section__feature">
          <div class="section__container">
            Toys
          </div>
          <span class="section__series">
              Family and kids
          </span>
        </div>
        <div class="headline headline--feature">
          <p>Fluffed it! The truth about Build-A-Bear's day of mayhem</p>
        </div>

        <div class="standfirst standfirst--feature multiline--lifestyle">
          <p>The global company was once lauded for being ahead of the curve, so what was behind the ‘pay-your-age’ misjudgment that left scores of its little customers brokenhearted?</p>
        </div>
        <div class="byline--feature">By Micheal Hann</div>

        <div class="picture">
          <div class="picture--first">
            <img src="assets/feature_img.png" alt="">
          </div>
          <div class="picture__caption-container--simple">
            <div class="arrow-up-small"></div>
            <div class="picture__caption--simple">
              <p>Build-A-Bear underestimated the devotion of its young fans – and the human appetite for a bargain.<span class="picture__caption--credit"> Photograph: Christian Sinibaldi for the Guardian</span></p>
            </div>
          </div>
        </div>

        <div class="guardian-body-text--caps bold-caps">
          <p>Thursday 12 July should have been a red-letter day for thousands upon thousands of kids, and for their favourite shop, Build-A- Bear Workshop. The company had announced a pay-your-age promotion, so customers in the UK, US and Canada could come
            in to make their own teddies and pay just a fraction of the normal cost: instead of £52 for a top-of-the-range bear, a six-year-old would pay just £6. It sounded brilliant.</p>
          <p>What Build-A-Bear hadn’t factored in was the devotion of its young customers, and the unending human appetite for getting something cheap. Its shops were overwhelmed with huge queues wanting to take advantage. Police had to be called to help
            control the crowds outside the Leeds branch. Scores of shops had to close early; thousands of people left without getting in. Even some of those who did left wildly disappointed: one parent told the BBC that she and her children queued for
            three and a half hours to get into the Derby branch, then spent another two hours waiting to get their bears stuffed: “When I look back I will probably think, ‘What have I done that for?’ – especially with what I will end up paying for parking,”
            she said. The next day’s headlines contained the words no executive wants to see describing their business: “chaos”, “carnage”, “fiasco”.</p>
          <p>though might have thought Build-A-Bear would take urgent action to ensure a different outcome when its US stores opened, hours later, but no. Ben Bigalke and his three-and-a-half-year-old daughter Astrid arrived at their local Build-A-Bear Workshop
            in Minnesota’s Mall of America at 9.30am – 3.30pm UK time, several hours into the day of disaster. “The area around the store was completely packed with ensconced, almost camped-out customers,” he tells me by email.</p>
          <p>In Minnesota, despite what had already happened in the UK, the events came as a complete surprise to all concerned. The Build-A-Bear store staff didn’t tell customers about how long they might be waiting, or what was happening. “I asked a security
            guard what to expect and they said they were upset by the situation, saying it was unexpected and that they were not prepared or even forewarned that something like that could happen,” Bigalke says. “They didn’t have any information about
            how many hours we could be expected to stay in line for, and I feel like they should have known. There also should have been representatives from the store telling us what was happening and what to expect.”</p>
          <p>Pay-your-age was the first major disaster in Build-A-Bear’s 21-year history, during which time the company has usually been ahead of the game, both as a retailer and a mythmaker. It is rare that a shopping chain has an origin story – its US
            founder, Maxine Clark, had been shopping with a friend’s children when the little girl commented that they should make their own bears in the absence of anything new in the shops. A lightbulb went on in Clark’s head. Of course, it wasn’t quite
            as homespun as that: Clark was an experienced retail executive, who had worked for the May Co department store company and been president of Payless ShoeSource. She knew what she was doing.</p>
          <div class="picture">
            <div class="picture--second">
              <img src="assets/second_img.png" alt="">
            </div>
            <div class="picture__caption picture__caption--second">
              Accessories for the teddy bears make up a substantial revenue stream for Build-A-Bear. <span class="picture__caption--credit"> Photograph: Christian Sinibaldi for the Guardian<span>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
