<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>immersive</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--news">
      <div class="picture--fullscreen">
        <img src="assets/immersive-img.png" alt="">
      </div>
      <div class="content--immersive">
          <div class="section section__immersive">
            <div class="section__container">
              The long read
            </div>
          </div>
          <div class="headline headline--immersive">
            <p>‘‘We believed we could remake ourselves any way we liked’: how the 1990s shaped #MeToo</p>
          </div>
        <div class="immersive-main">
          <div class="standfirst standfirst--feature">
            <p>While promising liberation and endless possibility, the culture of the decade drove us relentlessly in pursuit of perfection.</p>
          </div>
          <div class="byline--feature">By Eve Fairbanks</div>
          <div class="guardian-body-text--caps bold-caps  multiline--arts">
            <p>I have been at that door so many times. The one you walk through
	  into his apartment, or let him through into yours, and something 	  shifts. It’s as quick as the click when the optometrist slides a new lens into the eye-test machine: a clear, almost weightless little sliver of a thing, but with the power to make the world resolve into clarity – or blur out, leaving you nauseous and unbalanced.
    <p>
            <p>As the audience enters, we see the actor Stanley Townsend, called simply the Man, criss-crossing an artist’s workshop, its white walls covered in sheets of multi-coloured potato prints, lit by studio lamps. “I thought of you last night,” he
              begins. As he repeats some of the stanzas to himself, we seem to be watching Muldoon in mid-composition, lost in thought and memories of Powers and their life together in Belfast and Dublin in the 1980s.</p>
            <p>At times, Powers becomes a presence on stage, as Townsend arranges a camera tripod on a chair, draped with a long cloth to resemble a frail human figure. At other moments he confronts his own face on video, projected behind him, magnifying
              his utter aloneness. In a moving flash of self-knowledge, he paints his face in a clown mask, recalling that she detected in him “a tendency to put on too much artificiality, both as man and poet”. Throughout this poem, artifice and simplicity
              are held in tension, with Muldoon teasing out the idea that even the most urgent, sincere emotion needs to find a form, to be remade as art.</p>
          <div class="picture">
            <div class="picture--wide">
              <img src="assets/immersive-example1.png" alt="">
            </div>
            <div class="picture__caption-container--simple">
              <!-- <div class="arrow-up-small"></div> -->
              <div class="picture__caption picture__caption--second">
                <p>‘She told us we didn’t have to believe in bad things anymore’ … Oprah Winfrey in 1996. <span class="picture__caption--credit">Photograph: Chris Kasson/AP</span></p>
              </div>
            </div>
          </div>
          <div class="guardian-body-text--caps">
            <p>For the bereaved it can often feel as if nothing will ever come from grief except a void. The poet Paul Muldoon’s elegy Incantata wrestles with this nihilism to reaffirm life and love, and to create through his verse “a monument to the human
              heart”. The virtuosic poem, from 1994, was written in memory of his former lover the American artist and printmaker Mary Farl Powers, who died in Dublin of cancer at the age of 43. Dense with ideas and references to art, myth and Samuel
              Beckett, it is here staged by director Sam Yates for Galway international arts festival with Jen Coppinger Productions.</p>
            <p>As the audience enters, we see the actor Stanley Townsend, called simply the Man, criss-crossing an artist’s workshop, its white walls covered in sheets of multi-coloured potato prints, lit by studio lamps. “I thought of you last night,” he
              begins. As he repeats some of the stanzas to himself, we seem to be watching Muldoon in mid-composition, lost in thought and memories of Powers and their life together in Belfast and Dublin in the 1980s.</p>
            <p>At times, Powers becomes a presence on stage, as Townsend arranges a camera tripod on a chair, draped with a long cloth to resemble a frail human figure. At other moments he confronts his own face on video, projected behind him, magnifying
              his utter aloneness. In a moving flash of self-knowledge, he paints his face in a clown mask, recalling that she detected in him “a tendency to put on too much artificiality, both as man and poet”. Throughout this poem, artifice and simplicity
              are held in tension, with Muldoon teasing out the idea that even the most urgent, sincere emotion needs to find a form, to be remade as art.</p>
            <div class="picture">
              <div class="picture--second">
                <img src="assets/review-second-example.png" alt="">
              </div>
              <div class="picture__caption picture__caption--second">
                ‘A monument to the human heart’ ... Stanley Townsend in Incantata. <span class="picture__caption--credit">Photograph: Patrick Redmond</span>
              </div>
            </div>
            <p>Shuffling between his table and the Beckettian mound of potatoes in the corner of Rosanna Vize’s stage set, Townsend is a frenzy of activity, as if busyness could keep grief at bay. Yates’s staging, with layers added by composer Teho Teardo,
              sound designer Sinéad Diskin and video designer Jack Phelan, tends to be overly elaborate too, especially in the final scene change, as if uncertain whether one man and his grief could be sufficiently dramatic.</p>
            <p>In Townsend’s compelling performance, it certainly can. He glides through Muldoon’s torrent of wordplay and allusions, before slowing to a low growl of fury with his lover for her refusal of medical treatment in favour of herbal remedies,
              through a sense of fatalism: “The fact that you were determined to cut yourself off in your prime / because it was pre-determined has my eyes abrim.” The rush of tiny memories that catch him off-guard, the snatches of music from their shared
              past, the truths about the ways in which they could hurt each other – all flash across his face as his deep voice falters. He captures the one-step-forward, two-steps-back experience of grieving, its iterative nature reflected in his physical
              process of creating the rows of shapes, imprinted on paper.</p>
          </div>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
