<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>news</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--news">
      <div class="content">
        <div class="section">
          World
        </div>
        <div class="headline">
          Greece wildfires: dozens dead as holiday resort devastated
        </div>
        <div class="standfirst multiline--news">
          <p>Red Cross official says 26 bodies found huddled near beach in Mati, as overall death toll rises to 49</p>
        </div>
        <div class="picture">

          <div class="picture--first">
            <img src="assets/image.png" alt="">
          </div>
          <div class="picture__caption-container">
            <div class="arrow-up"></div>
            <div class="picture__caption">
              <p>People evacuate from the village of Mati on Monday night. <span class="picture__caption--credit">Photograph: Angelos Tzortzinis/AFP/Getty Images</span></p>
            </div>
          </div>
        </div>

        <div class="guardian-body-text">
          <div class="byline multiline--news">
            <span class="byline__author">Jeremy Whittle</span>
            <br>
            <span class="byline__location">at La Rosiére</span>
          </div>
          <div class="CrossRefs"></div>
          <p>At least 49 people have been killed, scores more injured and almost 700 others rescued from the sea after a devastating wildfire swept through a small resort town near Athens, the Greek fire department has said.</p>
          <p>Huge flames trapped families with children as they tried to flee from Mati, 18 miles (29km) east of the Greek capital, where the blaze hit on Monday afternoon. It was by far the country’s worst fire since blazes raged across the southern Peloponnese
            peninsula in August 2007, killing dozens.
            <p>
              <p>“We will do whatever is humanly possible to control it,” the prime minister, Alexis Tsipras, told reporters, adding that a state of emergency had been declared in the Attica region – which includes Athens – and that “all emergency forces”
                had been mobilised.</p>
              <p>Greece has also invoked European Union civil protection agreements to seek help. A military transport plane is due to arrive with 60 firefighters from Cyprus, while two water-dropping planes are expected from Spain.</p>
              <div class="picture">
                <div class="picture--second">
                  <img src="assets/inset_image.png" alt="">
                </div>
                <div class="picture__caption picture__caption--second">
                  <p>A woman carries bottles of water as people stand amid the charred remains of burned-out cars in Mati east of Athens. Photograph: Thanassis Stavrakis/AP </p>
                </div>
              </div>
              <p>By dawn on Tuesday, fires were still burning around the capital, while others broke out elsewhere during the night. One civil protection agency official described the situation as “a national tragedy” and reports emerged that 26 people had
                died as they huddled tightly together close to the beach at Mati.</p>
              <p>“They had tried to find an escape route but unfortunately these people and their kids didn’t make it in time,” Nikos Economopoulos, head of Greece’s Red Cross, told the country’s Skai TV. Other witnesses said they had also seen several bodies
                in the area.</p>
              <p>Twenty casualties were reported by government spokesman Dimitris Tzanakopoulos earlier on Tuesday. One of the youngest victims was thought to be a six-month-old baby who died of smoke inhalation.</p>
              <p>The fire department said that 156 adults and 16 children have been taken to hospital. Eleven of the adults are in a serious condition.</p>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
