<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Comment</title>
    <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
    <link rel="stylesheet" href="_Static/Content/_css/DailyEditionStyle.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
    <link rel="stylesheet" href="opinion-bg.css" type="text/css">
    <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
    <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
    <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
    <meta name="description" content="iPad standard news template">
</head>

<body>
    <div class="luther-document">
        {{#each story}} {{#isFirstOfType 'headline' ../story @index}}
        <div class="Article {{insertPillarColourClass 'Article__pillar--' pillarid}}">
            {{/isFirstOfType}} {{/each}}
            <div class="content">
                {{#each story}} {{#if_eq type 'label'}}
                <div class="section {{insertPillarColourClass 'section--' pillarid}}">
                    {{{text}}}
                </div>
                {{/if_eq}} {{#if_eq type 'headline'}}
                <div class="headline headline--comment">
                    {{{text}}}
                </div>
                {{/if_eq}} {{#if_eq type 'byline'}}
                <div class="byline--comment">
                    {{{text}}}
                </div>
                {{/if_eq}}
                {{#containsType 'standfirst' ../story}}
                {{#hasBylineImage ../story}}
                {{#if_eq type 'standfirst'}}
                <div class="comment-standfirst-container">
                    <div class="standfirst oneline">
                        {{{text}}}
                    </div>
                {{/if_eq}} {{#if_eq type 'image'}}
                {{#isBylineImage ../story @index}}
                    <div>
                        {{{html}}}
                    </div>
                </div>
                <div class="multiline {{insertPillarColourClass 'multiline--' pillarid}}">
                </div>
                {{/isBylineImage}}
                {{/if_eq}}
                {{/hasBylineImage}}
                {{#hasNoBylineImage ../story}}
                {{#if_eq type 'standfirst'}}
                <div class="comment-standfirst-container">
                    <div class="standfirst oneline">
                        {{{text}}}
                    </div>
                </div>
                <div class="multiline {{insertPillarColourClass 'multiline--' pillarid}}">
                </div>
                {{/if_eq}}
                {{/hasNoBylineImage}}
                {{/containsType}} {{/each}}

                {{#each story}} {{#isMainImage ../story @index}}
                <div class="picture">
                    <div class="picture--first">
                        {{{html}}}
                    </div>
                    <div class="picture__caption-container {{insertPillarColourClass 'picture__caption-container--' pillarid}}">
                        <div class="arrow-up"></div>
                        <div class="picture__caption">
                            <p>{{{productioncaption}}} <span class="picture__caption--credit">{{{productioncopyright}}}</span></p>
                        </div>
                    </div>
                </div>
                {{/isMainImage}} {{/each}}


                <div class="guardian-body-text--caps">
                    {{insertCrossRef 'body'}} {{#each story}}
                    {{#if_eq type 'other'}} {{{text}}} {{/if_eq}} {{#if_eq type 'bodytext'}} {{{text}}} {{/if_eq}}
                    {{#if_eq type 'image'}}
                    {{#isInlineImage ../story @index}}
                    <div class="picture">
                        <div class="picture--second">
                            {{{html}}}
                        </div>
                        <div class="picture__caption picture__caption--second">
                            <p>{{{productioncaption}}} {{{productioncopyright}}}</p>
                        </div>
                    </div>
                    {{/isInlineImage}}
                    {{/if_eq}} {{/each}}
                </div>
            </div>
            <!-- content -->
        </div>
        <!-- Article -->
    </div>
    <!-- luther-document -->
</body>

</html>
