<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>sport</title>
  <link rel="stylesheet" href="_Static/Content/_css/reset.css" type="text/css">
  <link rel="stylesheet" href="DailyEditionStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="_Static/Content/_css/luther.css">
  <script type="text/javascript" src="_Static/Common/_js/zepto.min.js"></script>
  <script type="text/javascript" src="_Static/Content/_js/octopus.js"></script>
  <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
  <meta name="description" content="iPad standard news template">
</head>

<body>
  <div class="luther-document">
    <div class="Article Article__pillar--sport">
      <div class="content">
        <div class="section">
          Cycling
        </div>
        <div class="headline">
          Thomas and Froome pull clear after Team Sky crush rivals
        </div>
        <div class="standfirst multiline--sport">
          <p>Welshman takes yellow jersey after winning stage with champion second</p>
        </div>
        <div class="picture">

          <div class="picture--first">
            <img src="assets/sport.png" alt="">
          </div>
          <div class="picture__caption-container picture__caption-container--sport">
            <div class="arrow-up"></div>
            <div class="picture__caption">
              <p>Geraint Thomas rode his way into the yellow jersey with victory on a gruelling stage 11. <span class="picture__caption--credit">Photograph: Marco Bertorello/AFP/Getty Images</span></p>
            </div>
          </div>
        </div>
        <div class="guardian-body-text">
          <div class="byline multiline--sport">
            <span class="byline__author byline__author--sport">Jeremy Whittle</span>
            <br>
            <span class="byline__location byline__location--sport">at La Rosiére</span>
          </div>
          <div class="CrossRefs"></div>
          <p>And then there were two. In a fulminating finale to the first ski station finish of the Tour de France this year, Team Sky crushed their rivals and gave themselves two solid options on overall victory in Paris on 29 July.</p>
          <p>In pole position is <a href="#">Geraint Thomas</a>, 1min 25sec ahead of the champion, Chris Froome. With so many other teams failing to match their team’s collective strength the chances of Sky faltering look slim.
            <p>
              <p>Thomas took the yellow jersey after hammering home the team’s striking advantage; he looks good in yellow but he also seems to know his place. The mantra at Sky is that Froome is No 1, that he has won six Grand Tours and that Thomas is happy
                just to have his moment in the sun.</p>
              <p>But the Welshman is no slouch, no one-day wonder. He has won Paris‑Nice, the Critérium du Dauphiné and Olympic and Commonwealth gold. His apprenticeship has been hard-fought and long enough for him to know that, now he is in his thirties,
                this may be his best chance in the Tour.</p>
              <p>“I’m just going to enjoy being in yellow in the Tour de France, even if it’s just for a day it’ll be great,” Thomas insisted. “I’d love to keep it for a few days but we’ll see tomorrow how it goes.”</p>
              <p>Asked if he would take his chance to win the Tour, even at Froome’s expense, if the moment came, Thomas demurred. “Some guys might sit here and give some PR bullshit but I just say how it is with me and that’s how it is. Froomey is the leader.</p>
              <p>“I’m not going to sit up and lose time, but I think we’re in a great position. It’s just a bit of an unknown for me to race over three weeks. It’s the ideal scenario at the moment and long may it continue.”</p>
              <p>Yet even the best of friends can see ambition ruin their relationship. While the Wiggins-Froome feud of 2012 was briefly reprised this week – when Sir Bradley Wiggins suggested the Team Sky principal, Sir Dave Brailsford, was “divisive”
                and “self-serving” – a better comparison is perhaps with the all‑star La Vie Claire team of 1986 which imploded as the American Greg Lemond crossed swords with his ageing mentor, Bernard Hinault.</p>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- Article -->
    <div class="CrossRefs">
      <!-- A div used to insert the dynamic cross refs provided by javascript onto the article page -->
      <div class="weblinks empty">
      </div>
    </div>
  </div>
  <!-- luther-document -->
</body>

</html>
