<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Standard News - G2 Features</title>
    <link rel="stylesheet" href="../_Static/Content/_css/reset.css" type="text/css">
    <link rel="stylesheet" href="../scss/octopustablet.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../_Static/Content/_css/luther.css">
    <script type="text/javascript" src="../_Static/Common/_js/zepto.min.js"></script>
    <script type="text/javascript" src="_Static/Content/_js/article.js"></script>
    <meta name="viewport" content="width=768, initial-scale=1, maximum-scale=2" />
    <meta name="description" content="iPad standard news template">
</head>

<body>
    <div class="luther-document">
        <div class="Article">
            <div class="content">
                    <!-- if we have a standfirst, the headshot div should be part
                        of that; other wise add it here-->
                {{#each story}}
                    {{#if_eq type 'label'}}
                    {{#if_eq inpanel 'false'}}
                    <div class="label__main tone__colour--front">
                    <div class="label">
                      {{{text}}}
                    </div>
                  </div>
                      {{/if_eq}}
                      {{#if_eq inpanel 'true'}}
                      <div class="box__title tone__colour--front">
                        {{{text}}}
                    </div>
                        {{/if_eq}}
                    {{/if_eq}}

                    {{#if_eq type 'headline'}}
                    {{#if_eq inpanel 'false'}}
                    <div class="headline headline__writer">
                        {{{text}}}
                    </div>
                    {{/if_eq}}
                    {{#if_eq inpanel 'true'}}
                      <div class="box__headline">
                        {{{text}}}
                    </div>
                    {{/if_eq}}
                    {{/if_eq}}

                    {{#if_eq type 'byline'}}
                    <div class="byline byline__writer tone__colour--front">
                        {{{text}}}
                </div>
                    {{/if_eq}}
                    {{#doesNotContainType 'standfirst' ../story}}
                    <!-- No standfirst, so put an empty headshot div
                    for the first image to go into
                    -->
                    {{#if_eq type 'image'}}
                <div class="headshot--writer">
                    <!-- The first image must be the headshot
                        {{#isFirstOfType 'image' ../story @index}}-->
                    <div class="picture-headshot">
                            {{{html}}}
                    </div>
                        <!--{{/isFirstOfType}}-->
                </div>
                    {{/if_eq}}

                    {{/doesNotContainType}}


                    {{#containsType 'standfirst' ../story}}

                    {{#if_eq type 'standfirst'}}
                <div class="headshot--writer">
                    <div class="standfirst standfirst--writer">
                        {{{text}}}
                    </div>
                    {{/if_eq}}

                    {{#if_eq type 'image'}}
                    <!-- The first image must be the headshot -->
                        {{#isFirstOfType 'image' ../story @index}}
                    <div class="picture-headshot">
                            {{{html}}}
                    </div>
                </div>
                        {{/isFirstOfType}}
                    {{/if_eq}}

                    {{/containsType}}


                    {{#if_eq type 'image'}}
                        {{#isNotFirstOfType 'image' ../story @index}}
                        {{#if_eq inpanel 'false'}}
                        <div class="picture">
                            <div class="picture--holder">
                                {{{html}}}
                            </div>
                            <div class="picture__caption">
                                {{{productioncaption}}}
                            </div>
                        </div>
                        {{/if_eq}}
                        {{#if_eq inpanel 'true'}}
                        <div class="picture">
                            <div class="box__image--big">
                                {{{html}}}
                            </div>
                            <div class="box__caption">
                                {{{productioncaption}}}
                            </div>
                        </div>
                        {{/if_eq}}
                        {{/isNotFirstOfType}}
                    {{/if_eq}}

                    {{#if_eq type 'video'}}
                    {{#if_eq inpanel 'false'}}
                    <div class="picture">
                        <div class="picture--holder">
                            {{#if_eq videotype 'atom/youtube'}}
                            <div style="background-image: url('{{{posterfilename}}}'); height: 290px; width: 484px;">
                            {{/if_eq}}
                                {{{html}}}
                            {{#if_eq videotype 'atom/youtube'}}
                            </div>
                            {{/if_eq}}
                        </div>
                        <div class="picture__caption">
                            {{{productioncaption}}}
                        </div>
                    </div>
                    {{/if_eq}}
                    {{#if_eq inpanel 'true'}}
                    <div class="picture">
                        {{#if_eq videotype 'atom/youtube'}}
                        <div style="background-image: url('{{{posterfilename}}}'); height: 290px; width: 484px;">
                        {{/if_eq}}
                            <div class="box__image--big">
                                {{{html}}}
                            </div>
                        {{#if_eq videotype 'atom/youtube'}}
                        </div>
                        {{/if_eq}}
                        <div class="box__caption">
                            {{{productioncaption}}}
                        </div>
                    </div>
                    {{/if_eq}}
                  {{/if_eq}}

                  {{#if_eq type 'gallery'}}
                  {{#if_eq inpanel 'false'}}
                  <div class="picture">
                      <div class="picture--holder">
                        <div class="galleryimage">
                            <a href="{{{galleryhref}}}" style="background-image: url('{{{galleryimage}}}'); height: 290px; width: 484px;">
                                <img src="_Static/Content/_images/gallerycamera.png" alt="Camera icon" class="gallerycamera">
                                <span class="gallerycount">{{{gallerycount}}}</span>
                            </a>
                        </div>
                      </div>
                      <div class="picture__caption">
                          {{{productioncaption}}}
                      </div>
                  </div>
                  {{/if_eq}}
                  {{#if_eq inpanel 'true'}}
                  <div class="picture">
                    <div class="box__image--big">
                        <div class="galleryimage-box">
                            <a href="{{{galleryhref}}}" style="background-image: url('{{{galleryimage}}}'); height: 290px; width: 474px;">
                                <img src="_Static/Content/_images/gallerycamera.png" alt="Camera icon" class="gallerycamera-box">
                                <span class="gallerycount-box">{{{gallerycount}}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="box__caption">
                          {{{productioncaption}}}
                      </div>
                  </div>
                  {{/if_eq}}
                {{/if_eq}}

                    {{#if_eq type 'bodytext'}}
                        {{insertCrossRef type}}
                        {{#if_eq inpanel 'false'}}
                        {{#if_eq ruleabove 'false'}}
                         <div class="guardian-body-text">
                            {{{text}}}
                         </div>
                        {{/if_eq}}
                        {{#if_eq ruleabove 'true'}}
                        <div class="guardian-body-text guardian-body-text-border">
                            {{{text}}}
                        </div>
                        {{/if_eq}}
                      {{/if_eq}}
                      {{#if_eq inpanel 'true'}}
                        <div class="box__body-text">
                          {{{text}}}
                        </div>
                      {{/if_eq}}
                    {{/if_eq}}

                    {{#if_eq type 'other'}}
                        {{{text}}}
                    {{/if_eq}}
                    {{#if_eq type 'panelstart'}}
                        {{{text}}}
                    {{/if_eq}}
                    {{#if_eq type 'panelend'}}
                        {{{text}}}
                    {{/if_eq}}
                    {{#if_eq type 'index'}}
                        {{{text}}}
                    {{/if_eq}}
                    {{#if_eq type 'pullquote'}}
                        {{{text}}}
                    {{/if_eq}}

                {{/each}}
            </div>
            <!-- content -->
        </div>
        <!-- Article -->
    </div>
    <!-- luther-document -->

</body>

</html>
